AdminApps2020/AdminAppsDesktop/Connected Services/ServicioProveedor/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProveedorENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProveedorENT" nillable="true" type="tns:ProveedorENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProveedorENT" nillable="true" type="tns:ArrayOfProveedorENT" />
  <xs:complexType name="ProveedorENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proveedor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProveedorENT" nillable="true" type="tns:ProveedorENT" />
</xs:schema>