AdminApps2020/AdminAppsDesktop/Connected Services/ServicioProveedor/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProveedorWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProveedorWcf_SeleccionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodos" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_SeleccionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_SeleccionarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarProveedor" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_SeleccionarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_BuscarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedor" />
  </wsdl:message>
  <wsdl:message name="IProveedorWcf_BuscarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorResponse" />
  </wsdl:message>
  <wsdl:portType name="IProveedorWcf">
    <wsdl:operation name="SeleccionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedorWcf/SeleccionarTodos" message="tns:IProveedorWcf_SeleccionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedorWcf/SeleccionarTodosResponse" message="tns:IProveedorWcf_SeleccionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedorWcf/Insertar" message="tns:IProveedorWcf_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedorWcf/InsertarResponse" message="tns:IProveedorWcf_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedorWcf/Actualizar" message="tns:IProveedorWcf_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedorWcf/ActualizarResponse" message="tns:IProveedorWcf_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedorWcf/SeleccionarProveedor" message="tns:IProveedorWcf_SeleccionarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedorWcf/SeleccionarProveedorResponse" message="tns:IProveedorWcf_SeleccionarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProveedorWcf/BuscarProveedor" message="tns:IProveedorWcf_BuscarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProveedorWcf/BuscarProveedorResponse" message="tns:IProveedorWcf_BuscarProveedor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProveedorWcf" type="tns:IProveedorWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarTodos">
      <soap:operation soapAction="http://tempuri.org/IProveedorWcf/SeleccionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IProveedorWcf/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IProveedorWcf/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProveedor">
      <soap:operation soapAction="http://tempuri.org/IProveedorWcf/SeleccionarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedor">
      <soap:operation soapAction="http://tempuri.org/IProveedorWcf/BuscarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProveedorWcf">
    <wsdl:port name="BasicHttpBinding_IProveedorWcf" binding="tns:BasicHttpBinding_IProveedorWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosWcf/ProveedorWcf/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>