AdminApps2020/AdminAppsDesktop/Connected Services/ServicioContacto/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactoWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactoWcf_SeleccionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodos" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_SeleccionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_SeleccionarContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarContacto" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_SeleccionarContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarContactoResponse" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_SeleccionarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarProveedor" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_SeleccionarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_BuscarContacto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarContacto" />
  </wsdl:message>
  <wsdl:message name="IContactoWcf_BuscarContacto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarContactoResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactoWcf">
    <wsdl:operation name="SeleccionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactoWcf/SeleccionarTodos" message="tns:IContactoWcf_SeleccionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactoWcf/SeleccionarTodosResponse" message="tns:IContactoWcf_SeleccionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactoWcf/SeleccionarContacto" message="tns:IContactoWcf_SeleccionarContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactoWcf/SeleccionarContactoResponse" message="tns:IContactoWcf_SeleccionarContacto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactoWcf/Insertar" message="tns:IContactoWcf_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactoWcf/InsertarResponse" message="tns:IContactoWcf_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactoWcf/Actualizar" message="tns:IContactoWcf_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactoWcf/ActualizarResponse" message="tns:IContactoWcf_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactoWcf/SeleccionarProveedor" message="tns:IContactoWcf_SeleccionarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactoWcf/SeleccionarProveedorResponse" message="tns:IContactoWcf_SeleccionarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarContacto">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactoWcf/BuscarContacto" message="tns:IContactoWcf_BuscarContacto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactoWcf/BuscarContactoResponse" message="tns:IContactoWcf_BuscarContacto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactoWcf" type="tns:IContactoWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarTodos">
      <soap:operation soapAction="http://tempuri.org/IContactoWcf/SeleccionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarContacto">
      <soap:operation soapAction="http://tempuri.org/IContactoWcf/SeleccionarContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IContactoWcf/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IContactoWcf/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarProveedor">
      <soap:operation soapAction="http://tempuri.org/IContactoWcf/SeleccionarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarContacto">
      <soap:operation soapAction="http://tempuri.org/IContactoWcf/BuscarContacto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactoWcf">
    <wsdl:port name="BasicHttpBinding_IContactoWcf" binding="tns:BasicHttpBinding_IContactoWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosWcf/ContactoWcf/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>