AdminApps2020/AdminAppsDesktop/Connected Services/ServicioServidor/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServidorENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServidorENT" nillable="true" type="tns:ServidorENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServidorENT" nillable="true" type="tns:ArrayOfServidorENT" />
  <xs:complexType name="ServidorENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ambiente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServidorENT" nillable="true" type="tns:ServidorENT" />
</xs:schema>