AdminApps2020/AdminAppsDesktop/Connected Services/ServicioActividad/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActividadWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActividadWcf_SeleccionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodos" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_SeleccionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_SeleccionarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarUsuario" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_SeleccionarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_BuscarActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividad" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_BuscarActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_BuscarActividadFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadFecha" />
  </wsdl:message>
  <wsdl:message name="IActividadWcf_BuscarActividadFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="IActividadWcf">
    <wsdl:operation name="SeleccionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadWcf/SeleccionarTodos" message="tns:IActividadWcf_SeleccionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadWcf/SeleccionarTodosResponse" message="tns:IActividadWcf_SeleccionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SeleccionarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadWcf/SeleccionarUsuario" message="tns:IActividadWcf_SeleccionarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadWcf/SeleccionarUsuarioResponse" message="tns:IActividadWcf_SeleccionarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadWcf/Insertar" message="tns:IActividadWcf_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadWcf/InsertarResponse" message="tns:IActividadWcf_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadWcf/Actualizar" message="tns:IActividadWcf_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadWcf/ActualizarResponse" message="tns:IActividadWcf_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadWcf/BuscarActividad" message="tns:IActividadWcf_BuscarActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadWcf/BuscarActividadResponse" message="tns:IActividadWcf_BuscarActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarActividadFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadWcf/BuscarActividadFecha" message="tns:IActividadWcf_BuscarActividadFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadWcf/BuscarActividadFechaResponse" message="tns:IActividadWcf_BuscarActividadFecha_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActividadWcf" type="tns:IActividadWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarTodos">
      <soap:operation soapAction="http://tempuri.org/IActividadWcf/SeleccionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SeleccionarUsuario">
      <soap:operation soapAction="http://tempuri.org/IActividadWcf/SeleccionarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IActividadWcf/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IActividadWcf/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarActividad">
      <soap:operation soapAction="http://tempuri.org/IActividadWcf/BuscarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarActividadFecha">
      <soap:operation soapAction="http://tempuri.org/IActividadWcf/BuscarActividadFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActividadWcf">
    <wsdl:port name="BasicHttpBinding_IActividadWcf" binding="tns:BasicHttpBinding_IActividadWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosWcf/ActividadWcf/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>