AdminApps2020/AdminAppsDesktop/Connected Services/ServicioLogin/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioENT" nillable="true" type="tns:UsuarioENT" />
  <xs:complexType name="ArrayOfUsuarioENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioENT" nillable="true" type="tns:UsuarioENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioENT" nillable="true" type="tns:ArrayOfUsuarioENT" />
</xs:schema>