AdminApps2020/AdminAppsDesktop/Connected Services/ServicioLogin/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="Ingresar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="usuarioENT" nillable="true" type="q1:UsuarioENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IngresarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecccionarUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecccionarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SelecccionarUsuarioResult" nillable="true" type="q2:ArrayOfUsuarioENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>