AdminApps2020/AdminAppsDesktop/Connected Services/ServicioActividadDetalle/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActividadDetalleENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActividadId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Minutos" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Responsable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActividadDetalleENT" nillable="true" type="tns:ActividadDetalleENT" />
  <xs:complexType name="ArrayOfActividadDetalleENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActividadDetalleENT" nillable="true" type="tns:ActividadDetalleENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActividadDetalleENT" nillable="true" type="tns:ArrayOfActividadDetalleENT" />
</xs:schema>