AdminApps2020/AdminAppsDesktop/Connected Services/ServicioActividadDetalleInforme/Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfActividadDetalleInformeENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActividadDetalleInformeENT" nillable="true" type="tns:ActividadDetalleInformeENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActividadDetalleInformeENT" nillable="true" type="tns:ArrayOfActividadDetalleInformeENT" />
  <xs:complexType name="ActividadDetalleInformeENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aplicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionDet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDet" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActividadDetalleInformeENT" nillable="true" type="tns:ActividadDetalleInformeENT" />
</xs:schema>