AdminApps2020/AdminAppsDesktop/Connected Services/ServicioActividadDetalleInforme/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActividadDetalleInformeWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActividadDetalleInformeWcf_SeleccionarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodos" />
  </wsdl:message>
  <wsdl:message name="IActividadDetalleInformeWcf_SeleccionarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SeleccionarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadDetalleInformeWcf_BuscarActividadDetalleInforme_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadDetalleInforme" />
  </wsdl:message>
  <wsdl:message name="IActividadDetalleInformeWcf_BuscarActividadDetalleInforme_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadDetalleInformeResponse" />
  </wsdl:message>
  <wsdl:message name="IActividadDetalleInformeWcf_BuscarActividadFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadFecha" />
  </wsdl:message>
  <wsdl:message name="IActividadDetalleInformeWcf_BuscarActividadFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarActividadFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="IActividadDetalleInformeWcf">
    <wsdl:operation name="SeleccionarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadDetalleInformeWcf/SeleccionarTodos" message="tns:IActividadDetalleInformeWcf_SeleccionarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadDetalleInformeWcf/SeleccionarTodosResponse" message="tns:IActividadDetalleInformeWcf_SeleccionarTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarActividadDetalleInforme">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadDetalleInformeWcf/BuscarActividadDetalleInforme" message="tns:IActividadDetalleInformeWcf_BuscarActividadDetalleInforme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadDetalleInformeWcf/BuscarActividadDetalleInformeResponse" message="tns:IActividadDetalleInformeWcf_BuscarActividadDetalleInforme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarActividadFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IActividadDetalleInformeWcf/BuscarActividadFecha" message="tns:IActividadDetalleInformeWcf_BuscarActividadFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActividadDetalleInformeWcf/BuscarActividadFechaResponse" message="tns:IActividadDetalleInformeWcf_BuscarActividadFecha_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActividadDetalleInformeWcf" type="tns:IActividadDetalleInformeWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SeleccionarTodos">
      <soap:operation soapAction="http://tempuri.org/IActividadDetalleInformeWcf/SeleccionarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarActividadDetalleInforme">
      <soap:operation soapAction="http://tempuri.org/IActividadDetalleInformeWcf/BuscarActividadDetalleInforme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarActividadFecha">
      <soap:operation soapAction="http://tempuri.org/IActividadDetalleInformeWcf/BuscarActividadFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActividadDetalleInformeWcf">
    <wsdl:port name="BasicHttpBinding_IActividadDetalleInformeWcf" binding="tns:BasicHttpBinding_IActividadDetalleInformeWcf">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiciosWcf/ActividadDetalleInformeWcf/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>