AdminApps2020/AdminAppsDesktop/Connected Services/ServicioActividadDetalleInforme/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="SeleccionarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="SeleccionarTodosResult" nillable="true" type="q1:ArrayOfActividadDetalleInformeENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarActividadDetalleInforme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="campo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarActividadDetalleInformeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarActividadDetalleInformeResult" nillable="true" type="q2:ArrayOfActividadDetalleInformeENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarActividadFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarActividadFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="BuscarActividadFechaResult" nillable="true" type="q3:ArrayOfActividadDetalleInformeENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>